<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/reserve.css" />
    <script src="js/script.js"></script>

    <title>Le'Hotel - Reservation</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <a href="index">Le'Hotel</a>
        <ul class="nav-bar__items">
          <li class="nav-bar__item"><a href="#">Price list</a></li>
          <li class="nav-bar__item"><a href="#">About Us</a></li>
          <li class="nav-bar__item"><a href="#">Contacts</a></li>
        </ul>
        <a href="reserve">RESERVE</a>
      </nav>
    </header>
    <main>
      <div class="content">
        <h1>Fill the form</h1>

        <form class="form" method="GET">
          <label for="fullName" class="label-inline"></label>
          <input
            type="text"
            name="fullName"
            id="fullName"
            placeholder="Name"
            autocomplete="off"
          />
          <input type="email" name="email" id="email" placeholder="Email" />

          <h3 id="reservation-date-choose-text">Choose reservation date:</h3>

          <div class="lable-input-inline">
            <label class="label-inline" for="fromDate">From:</label>
            <input type="date" name="fromDate" id="fromDate" min="2021-07-26" />
          </div>
          <div class="lable-input-inline">
            <label class="label-inline" for="toDate">To:</label>
            <input type="date" name="toDate" id="toDate" />
          </div>
          <input type="submit" value="Reserve" id="reserveBtn" />
        </form>
      </div>
    </main>
  </body>
</html>
